
.c-loading {
  background: url(data:image/gif;base64,R0lGODlhQgAeAMQfAJHZp5LZp9Pw23TPj7PlwnDOjPv+/GrMiOz477DkwLTlw5fbq1HDc/r9+2rMh9Pw3HPPj+758rHkwJjcra/kv23NikzBb1DDck3CcO/68mnLh+758Zbbq0jAbG3Nif///yH/C05FVFNDQVBFMi4wAwEAAAAh/wtYTVAgRGF0YVhNUDw) center center no-repeat;
  background-size: 33px 15px;
}
.c-init,
.c-tryagain {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.navbar,
.sig-navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 44px;
  border-bottom: 1px #49c06c solid;
  background-color: #f0f0f0;
  z-index: 20;
}

.lg-li {
  height: 40px;
  border: 0 #e5e5e5 solid;
  border-bottom-width: 1px;
  background-color: #fff;
  padding-left: 24px;
  display: -webkit-box;
}
.lg-li:first-child {
  border-top-width: 1px;
}
.lg-lrv {
  display: block;
  color: #49c06c;
  width: 120px;
  line-height: 40px;
  text-align: center;
  border-left: 1px #e5e5e5 solid;
}
.lg-bton {
  display: block;
  width: 100%;
  height: 42px;
  line-height: 42px;
  background-color: #83d49b;
  border-radius: 2px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.spm-head > img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px #ffac37 solid;
  margin-bottom: 10px;
}
.spm-cont {
  border-top: 1px #e5e5e5 solid; /*hairline:skip*/
  display: -webkit-box;
}
.spm-cont .spm-p{
  border-top: 1px #e5e5e5 solid;
  display: -webkit-box;
}
/*
  .test{
    border-bottom:3px #000 solid;
  }
  .testtop{
    border-top:2px #000 solid;
  }
*/
